@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-ONE Cars Motors</title>
    <link rel="stylesheet" href="~/CSS/Style.css" type="text/css">
</head>

<body>
    <header>
        <p id="header1">A<span id="header2">-One Motors</span></p>
        <div class="div-1">
            <ul>
                <li><a href="#1" target="_blank">Home</a></li>
                <li><a href="#a" target="_blank">About Us</a></li>
                <li><a href="#2" target="_blank">Contact Us</a></li>
                <li><a href="#3" target="_blank">Services</a></li>
                <li><a href="#4" target="_blank"> Seller Store</a></li>
            </ul>
        </div>
    </header>
    <div>
        <hr>
    </div>

    <!------Home---->

    <div>
        <h1 id="1">A-One Car's Dealer And Services Store</h1>
        <img src="~/Assets/A-one motors.png" alt="Motors-logo"><br>
        <p>
            The A-One motors sells new or used cars at the retail level, based on a dealership contract with an
            automaker or its sales
            subsidiary. We also carry a variety of Certified Pre-Owned vehicles. We employs automobile sales-people to
            sell their automotive vehicles. We also provide maintenance services for cars, and employ automotive
            technicians to stock and sell spare automobile parts and process warranty claims.
            The A-One motors specifying 2 areas of Auto-Mobiles. It contains the selling of several different company's
            Cars containg <span id="p1">Mustang, Ford, Toyota, Corolla and Suzuki</span> etc.<br>
            The A-One Motors contains the
            services like <span id="p1-i" ;>Tunning of Auto-Mobiles, Oil Changing</span> and Several differnt
            services. It is the
            best and the
            cheapest store filling the customer wants and satisfication.
        </p>
        <a href="#bmw" target="_blank"><img src="~/Assets/car-logo-1.jfif" alt="Logo"></a>
        <a href="#Audii" target="_blank"><img src="~/Assets/car-logo-2.png" alt="Logo"></a>
        <a href="#p" target="_blank"><img src="~/Assets/car-logo-3.jpg" alt="Logo"></a>
        <a href="#Ferrari" target="_blank"><img src="~~/Assets/car-logo-4.jpg" alt="Logo"></a>
        <a href="#s" target="_blank"><img src="~/Assets/car-logo-5.jpg" alt="Logo"></a>
        <a href="#AM" target="_blank"><img src="~/Assets/car-logo-6.jpg" alt="Logo"></a>
        <a href="#w" target="_blank"><img src="~/Assets/car-logo-7.png" alt="Logo"></a>
        <a href="#3" target="_blank"><img src="~/Assets/logo.png" alt="Logo"></a>
        <p>To enhance the knowledege about cars we have listed top 10 cars of 7 worldwide brands known as a car brands. Just click the Image to view the information.</p>
    </div>

    <!-----About Us----->

    <div>
        <h1 id="a" ;><img src="~/Assets/A-1(1).png" alt="store">About Us :</h1>

        <p>
            The<span id="p2-i">A-One Motors</span> is a dealership and
            service provider
            store. We're one of the largest new car retailers in the <span id="p2-ii">Pakistan</span>, selling vehicles through
            nationwide network
            of
            world-class dealerships. From <span id="p2-iii">Ford in Islamabad to  Vauxhall in Faislabad and of course the Sialkot</span>, We offer
            fantastic new car deals to a large market all over the Pakistan.
            As well as nationwide coverage, we also offer an extensive range of new cars. We have partnerships with many
            of the world's leading and most popular car manufacturers, meaning there's a huge selection of vehicles
            available to our customers, from new city cars to new SUVs.
            At every dealership there are specialist new car Sales Executives and Finance Specialists who will help you
            part exchange your old vehicle for a new car that meets your budget and fits your lifestyle.
        </p><br>
        <p>
            The A-One Motors is a store containig multiple items to serve. It is the store having services to provide to
            the customers to fulfill thier needs. Its building of two stories with departed sections. Currently their
            are 40 employes, 10 offices, the showroom and several others abillities that tells Customers thst we are the
            best. The abillities we contain are fewer in the market that's how we are the best in buisness. We have
            achieved the award of fulfilling Customer needs and demands.
        </p><br>
        <img src="~/Assets/car-store.jpg" alt="Store-Picture">
        <p>
            The A-One Motors provide the service of buying new and used Cars. The store is not all about selling. We are
            the ones that also buy the used or second hand cars upto the best rate. We believe the Customer Satisfaction
            is prioritised above all. We als provide services to cars. The Services are handled by the professionals and
            experienced workers.<span id="p2-iv">Your vehicle is ours. Your pride is ours. Your satisfaction is our buissness.</span>
        </p>
    </div>

    <!------COntact us-------->

    <div>
        <h1 id="2"><img src="~/Assets/A-1(1).png" alt="store">Contact Us :</h1><br>


        <p>
            The A-One Motors locted in Sambrial, Sialkot. We have the branches located in all over the Pakistan
            including<span id="p3">
                Islamabad,Faislabad,karachi,Lahore,Sargodha,Multan,Sialkot
                and Wazirabad
            </span>. You can also greet us at different Social Media Platforms like Facebook,
            Instagram, Twitter. These account are handeled by professionals and employed of the companies.
        </p>
        <center>
            <table cellspacing="35" cellpading="5" class="table1">
                <p id="p3-i">Contact Us</p>
                <colgroup>
                    <col style="width:75px">
                </colgroup>
                <thead>
                    <tr>
                        <th>contact via</th>
                        <th>NO.</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color: red;">Phone Number :</td>
                        <td>0341562526</td>
                        <td>------</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Twitter :</td>
                        <td>------</td>
                        <td><a href="http://uskt.edu.pk">visit uskt.edu.pk/Aonemotors@twitter.com</a></td>
                    </tr>
                    <tr>
                        <td style="color: red;">Instagram :</td>
                        <td>------</td>
                        <td><a href="http://uskt.edu.pk">visit uskt.edu.pk/Aonemotors@ig.com</a></td>
                    </tr>
                    <tr>
                        <td style="color: red;">Facebook :</td>
                        <td>------</td>
                        <td><a href="http://uskt.edu.pk">visit uskt.edu.pk//Aonemotors@Facebook.com</a></td>
                    </tr>
                </tbody>
            </table>
        </center>

    </div>

    <!-----Services------>

    <div>
        <h1 id="3"><img src="~/Assets/A-1(1).png" alt="store">Services :</h1>
        <h2 style="text-align: center; background-color: rgb(36, 35, 35); color: red;">How Can We Help! Find Out</h2>
        <p>
            Some say we are best kept secret for Automobile Repair, Service, and Maintenance. We are proud of the work
            we do, and would love the opportunity to be your “neighborhood mechanic”.<br>
        </p>
        <img src="~/Assets/car-repair-1.jpg" alt="Car-Repair" style="width:400px; height:300px">
        <h3>Services We Provide :</h3>
        <ol type="I" style="font-size :17px;">
            <li>Tune-Ups</li>
            <li>Battery Replacement</li>
            <li>Auto Diagnostics</li>
            <li>Timing Belt Replacement</li>
            <li>Tire Rotation & Balance</li>
            <li>Oil Change Service</li>
            <li>Shocks and Suspension</li>
            <li>Struts</li>
            <li>Radiators</li>
            <li>Air Conditioning</li>
        </ol>
        <h3>Car Need to see the Doctor!</h3>
        <p>
            Maintaining a car can be compared to caring for the health of our own bodies. Sometimes our bodies break
            down and need repair, other times routine care and preventative maintenance can be the the best
            prescription. That is why car also need to see the doctor.
        </p>
        <img src="~/Assets/car-repair-3.jpg" alt="Car-Doctor" style="width:600px ;height:300px;">
        <h3>Why we are best in this buisness!</h3>
        <p>
            We have got the experience, expertise, the latest tools and technology to properly diagnosis and repair most
            automobile makes and models. Whether your a health care worker, or an auto mechanic, we believe that quality
            work comes from a passion for what you do.
        </p>
        <h3>We are specialized in :</h3>
        <ol type="I" style="font-size: 17px;">
            <li>Computer Diagnostics</li>
            <li>Lube/oil/filter change</li>
            <li>Radiator Flush & Fill Service</li>
            <li>Transmission Fluid Service</li>
            <li>A/C Recharge & Diagnostic Service</li>
            <li>Timing Belt Replacement</li>
            <li>Tire rotation and balance only</li>
            <li>Battery replacement</li>
            <li>Anti-Lock system diagnosis</li>
            <li>Axle Work Bearings/Seals</li>
            <li>Shock and Strut Replacement</li>
            <li>Starters/Alternators/Heater cores</li>
            <li>Suspension system service</li>
            <li>Alignments and Fleet service/maintenance</li>
            <li>Antique/classic car repair</li>
        </ol>
        <img src="~/Assets/car-repair-2.jpg" alt="Car-Repair" style="width: 400px;height:300px;">
        <p>
            The most popular services we provide, cost less and the parts we change has 4years warranty. Some of them
            are:
        </p>
        <center>
            <table cellspacing="35" cellpading="5" class="table2">
                <colgroup>
                    <col style="width:100px"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Services</th>
                        <th>Cost</th>
                        <th>Minutes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color: red;">Oil Change/Filter Change</td>
                        <td>90$</td>
                        <td>45 Mintutes</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Battery Replacement</td>
                        <td>250$</td>
                        <td>100 Mintutes</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Suspension System Service</td>
                        <td>199$</td>
                        <td>200 Minutes</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Tire rotation and balance</td>
                        <td>149$</td>
                        <td>180 Minutes</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Starters/Alternators/Heater cores</td>
                        <td>35$</td>
                        <td>30 Minutes</td>
                    </tr>
                    <tr>
                        <td style="color: red;">Computer Diagnostics</td>
                        <td>29$</td>
                        <td>60 Minutes</td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>

    <!------Seller Store------>

    <div>
        <h1 id="4"><img src="~/Assets/A-1(1).png" alt="store">The Store :</h1>
        <p>
            The A-One Motors is the organization affliated with dealership of 9 world-wide brands. These brands are named
            as <span style="font-size: 17px; font-weight:bold;">
                BMW, Audi, Porsche, Ferrari, Supra, Aston Martin and
                Widz
            </span>. We also deal in the sale and purchase of Antique Cars.
        </p>
        <h2>The Car Brands!</h2>
        <h3 id="bmw">BMW Cars</h3>
        <p>
            Welcome to A-One Motors, the exclusive seller of BMW in Pakistan offering a wide selection of luxury cars and
            SUVs along with professional service and maintenance performed by BMW-trained technicians. Our showrooms and
            workshops are located in Karachi, Lahore, Sialkot and Islamabad.
            <br>A-One Motors aims to provide its valued customers with a total ownership experience that constantly
            satisfies each individual’s needs and exceeds their expectations in a comfortable, supportive and, above
            all, a safe environment.
            <ol type="1">
                <li><h2>BMW M1</h2><p>Its 3.5-litre 277PS (204kW) straight-six was a honey of an engine and the M1 was as sweet to potter around town in as it was to dispatch your local mountain road.</p><img src="~/Assets/bmw-1.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M5 (E28)</h2><p>Weighing just 1,431kg and spanning 4,600mm in length and 1,700mm in width, the E28 was as featherweight as it was slight in proportions, compared to the two-tonne monster we have today. Its 286PS (210kW) 3.5-litre straight-six was a derivation of the unit used in the M1 supercar, with a splash more power. </p><img src="~/Assets/bmw-2.jpg" alt="Bmw" style="width:350px; height:200px;"></li>
                <li><h2>BMW M3 (E30)</h2><p>The E30 M3 is BMW Motorsport’s original homologation special and of all the M cars, the closest in relation to its racing cousins. It’s the most successful touring car of all time, in fact. While later straight-six cars are sweeter than the harsh S14 four-pot and on-road driving dynamics have improved in the years.</p><img src="~/Assets/bmw-3.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M5 (E39)</h2><p>Its 4.9-litre 400PS (294kW) V8 embarrassed supercars of the day, its dimensions and styling the perfect blend of subtle and sinister, its chassis and dynamics deftly honed.</p><img src="~/Assets/bmw-4.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M3 CS (E46)</h2><p>The E46 M3 is a family of fabulous M cars, from which picking the best is a challenge. The obvious choice would be the CSL, the lightened, more powerful, rarer and more hardcore variant.</p><img src="~/Assets/bmw-5.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M3 CRT (E90)</h2><p>Meet the M3 CRT, a four-door special of which just 67 were made, packing the upgraded 4.4-litre 440PS (331kW) V8 from the M3 GTS, and a 68kg weight saving, while still retaining the luxuries expected of what was not an inherently track-focused model.</p><img src="~/Assets/bmw-6.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M5 Touring (E61)</h2><p>The E60 generation BMW M5 is a flawed car. Lumbered with a sluggish SMG gearbox, gawky styling, a heavy thirsty motor and a tiny fuel tank from which to feed it  We’d even sacrifice that potential 200mph top speed of the saloon in favour of the load-lugge.</p><img src="~/Assets/bmw-7.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW 1 Series M Coupe</h2><p> The 1 Series M Coupe project started, a bonafide skunkworks car, born of a passion for driving over margins. The ingredients: a muscular turbocharged 340PS (250kW) straight-six driving the rear via a manual gearbox, M3 bits including a rear axle and suspension components, and a body kit with a face like thunder and hips to humble Shakira.</p><img src="~/Assets/bmw-8.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M2 CS</h2><p>The CS is the logical extreme: carbon bodywork, an M4 engine at full muscle (444PS, 331kW), trick suspension and carbon-ceramic brakes. Those same bods that made the 1M as special as it was had time to hone the CS. </p><img src="~/Assets/bmw-9.jpg" alt="BMW" style="width:350px; height:200px;"></li>
                <li><h2>BMW M5 CS</h2><p>The M5 Competition, a competent and devastatingly fast if not inspiring super saloon, drop 70kg via some carbon bits, reduced sound deadening, forged wheels and a stainless exhaust. Then tune the new dampers, lower suspension and anti-roll bars. Then revise the engine with new turbos and better oiling, for 635PS (467kW). The result is a car that many claim is a night and day revolution over the car on which it’s based and the best M5 in generations.</p><img src="~/Assets/bmw-10.jpg" alt="BMW" style="width:350px; height:200px;"></li>
            </ol>
            <center>
                <table id="table3">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M5 (E28)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M3 (E30)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M5 (E39)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M3 CS (E46)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M3 CRT (E90)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M5 Touring (E61)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW 1 Series M Coupe</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M2 CS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BMW</td>
                            <td>BMW M5 CS</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="Audii">Audi Cars</h3>
        <p>
            Audi is one of the biggest auto manufacturers in the world. Along with Mercedes and BMW, it is the biggest
            German manufacturer of luxury vehicles, including sedans, SUVs, traditional,hybrid and electric cars, etc.
            Some of the most popular Audi models are Audi A3, Q3, A4, A1 and Q2, etc. However, in Pakistan, the most
            popular models are A3, A6 and Audi e-tron. Audi e-tron is perhaps the most popular electric SUV In Pakistan.
            In Pakistan, both new and used Audi models are available with price ranging between Rs.2,300,000 and
            Rs.47,000,000.
            <ol type="1">
                <li><h2>Audi A5/S5</h2><p>The Audi A5 is ideally an A4 with top-end expensive body design. The Audi A5 is an incredible car from Audi; it ranks near the top of the small luxury car class. It has a fantastic combination of opulence, performance, and interactive features. Its peppy engine and modern refined transmission offer a pleasant and dynamic driving experience.Its cabin is quite comfortable and relaxing in the signature style of Audi. Both the sport back version and the cabriolet have a 2L I-4 engine from the A4 pushing about 248hp, and a respectable 349 for the S5.</p><img src="~/Assets/Audi-1.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi Q7</h2><p>The Audi Q7 dominates the luxury SUV segment. Audi has ensured that the Q7 is, in fact, the best luxury SUV vehicle. This luxury SUV from Audi neatly balances refinement, luxury, high tech features, and driving enthusiasm, and it goes without saying, very few people can have the budget to get a whiff of this car.The Q7 is one of the fastest and most capable SUVs ever made, with a choice of either a 4-cylinder turbocharged and V6 turbocharged engine. For 2020, however, the SQ7 also debuted, featuring a 4.0L V8 pushing out 500 horsepower. This luxury SUV can do 60mph in 5.5 seconds. It comes with a state-of-the-art infotainment system and safety features, including automated braking, forward collision warning, and adaptive cruise control.</p><img src="~/Assets/Audi-2.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi A7</h2><p>The redesigned 2019 Audi A7 is the Sportback version of the A6 but with a heftier price tag ($10,000 more). Just like the A6, it uses the same 3L V6 engine producing 335hp. The A7 is an executive class, a five-door car with a lift back. It features an impressive sloping roofline and steep rear window.</p><img src="~/Assets/Audi-3.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi A8</h2><p>The Audi A8 is only available in the long-wheelbase version. It comes with the same 3L V6 engine as the A6 and produces 335hp. However, for the 2020 model year, a twin-turbocharged V8 is also available, pushing out 453hp.The A8 is an extremely luxurious full-size luxury sedan with an executive Rear Seat Comfort Package that includes a foot massage. It’s a car worth the expense and its advanced suspension and handling capability offer a dreamlike drive experience.</p><img src="~/Assets/Audi-4.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi Q5</h2><p>The Audi Q5 is a compact luxury SUV and Audi’s best-selling automobile. It’s a family car that will silently eat up the miles comfortably. It comes with an impressive 2L I-4 turbocharged engine that produces 248hp and 273 pound-feet of torque, with a 350-horsepower twin-turbo V6 optional. A redesign by Audi in 2018 made significant improvements to an already magnificent car with a new platform.It also comes with a decent selection of tech features with a roomy cabin that is comparable to the Mercedes GLC. The premium luxury version ($10,000 more) comes with more power and advanced transmission. It runs on a 3L V6 turbocharged engine mated with an eight-speed transmission pushing 249hp.</p><img src="~/Assets/Audi-5.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi A4</h2><p>It runs on a seven-speed automatic transmission, matted on a 2L turbocharged 4-cylinder engine. The front-wheel versions produce 188 hp while the all-wheel model makes up to 248 hp. Its performance-tuned version produces up to 349 hp and 369 pound-feet of torque thanks to its 3L turbocharged V6 engine.</p><img src="~/Assets/Audi-6.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi R8</h2><p>The first time the R8 Le Mans Prototype was released, it was bagging accolades everywhere it went, the car industry when into a frenzy, and fans begged for a road-going version of the beast. In 2007, Audi granted its anxious fans' wishes with the R8 production car. Well, the R8, just like its original, blew up like a cannonball. It was so popular that people bought it for its amazing sleek profile alone.For 2020, the R8 gains an additional 30 horsepower and a few tweaks on the exterior styling.</p><img src="~/Assets/Audi-7.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi Q8</h2><p>It comes with a 3L TFSI V6 engine that produces 335hp. It also features four-wheel steering and does 60mph in 5.6 seconds. It has a roomier backseat with an infotainment system to-die-for. The Q8 is a legitimate crossover that continues Audi’s tradition of refined engagement.</p><img src="~/Assets/Audi-8.png" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi E-Tron</h2><p>If you're looking for the best possible electric SUV on the market and have cash to spare, roughly $77,000 is all you need. Yes, the E-Tron competes with the according to cars.us in terms of the value it offers for the Dollar. It's significantly cheaper than the Tesla Model X, yet offers amazing performance and a more beautiful and advanced interior featuring a 10.1-inch touch screen display with a gauge cluster in the shape of a 12.3-inch customizable display. It's quick and nimble on the road and feels like a sports car while offering the practicality of a midsize SUV. </p><img src="~/Assets/Audi-9.jpg" alt="Audii" style="width:350px; height:200px;"></li>
                <li><h2>Audi RS6</h2><p>It produced a whopping 571 hp, which, to be honest, is outrageous for a family car. The America did not get to enjoy the brutality of the second generation RS6 however, but that changed with the third generation and is available as a wagon, now producing 591 horsepower with a 0-60mph time of just 3.6 seconds.</p><img src="~/Assets/Audi-10.jpg" alt="Audii" style="width:350px; height:200px;"></li>
            </ol>
            <center>
                <table id="table4">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Audi</td>
                            <td>Audi A5/S5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi Q7</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi A7</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi A8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi Q5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi A4</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi R8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi Q8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi E-Tron</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Audi</td>
                            <td>Audi RS6</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="AM">Aston Martin Cars</h3>
        <p>
            A-One Motors is an authorised and official Aston Martin dealership dedicated to offering an unrivalled
            quality of service and expertise.
            <ol type="1">
                <li><h2>One-77</h2><p>It's a lethal-looking car, and under the hood is a 7.3-liter handcrafted Cosworth V12. This car has 760hp and 553 lb-ft of torque, which is insane. Flat out, it does 200 mph, and it hits 60 in 3.5 seconds. The One-77 also features a full carbon fiber monocoque.</p><img src="~/Assets/Aston-Martin-1.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>Vantage</h2><p>The current Vantage is a full-on sports car. It isn't a GT whatsoever. It handles like a sports car, feels like a sports car, and goes like a sports car. The Vantage is a car that really appeals to younger people, which is a breath of fresh air for the brand, since most cars made by Aston Martin are targeted towards a more mature audience.</p><img src="~/Assets/Aston-Martin-2.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>V12 Vanquish</h2><p>The V12 Vanquish is a traditional British Grand Tourer. Launched back in 2001, it was the marque's flagship car, and it did have its issues. The gearbox was awful, and if you've driven one, then that's something you will surely remember. Nevertheless, it was hailed as the greatest GT at the time.</p><img src="~/Assets/Aston-Martin-3.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>DBS V12</h2><p>Under the hood is a 5.9-liter V12 with 510hp and 420 lb-ft of torque. This car hits 60 in 4.2 seconds and flat out does 192 mph. The DBS looked better than it drove, and the build quality wasn't the best. But it sure was one of the most elegant and classiest looking cars ever built.</p><img src="~/Assets/Aston-Martin-4.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>Vulcan</h2><p>The Vulcan is a very scary car that can only be used on the track. It may not have a handbrake at all, but it does have air conditioning and a 7.0-liter V12. This is a proper old-school car that has 820hp and a crazy carbon fiber spoiler. In fact, carbon fiber can be found everywhere.</p><img src="~/Assets/Aston-Martin-5.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>DBR-1</h2><p>The DBR-1 is a car that has heaps of pedigree. It may not be the most successful racing car ever, but it has won one LeMans title. That title also happens to be their only LeMans title, which is surprising since they have been so active over the past few decades in motorsport.</p><img src="~/Assets/Aston-Martin-6.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>DB7</h2><p>The one to have in our opinion is the V12 Vantage model, but it seems the market favors the slower 3.2-liter supercharged model instead. If it wasn't for the success of this car, Aston Martin would not exist today. </p><img src="~/Assets/Aston-Martin-7.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>V600 Le Mans</h2><p>The V600 Le Mans is an old school Aston Martin. It honored the victory of Le Mans, hence the name.This car had 604hp and 605 lb-ft of torque, which is still a lot even today.</p><img src="~/Assets/Aston-Martin-8.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>DB11</h2><p>Under the hood is either a 5.2-liter twin-turbo V12 or a better 4.0 Biturbo AMG V8. These engines are incredible, and they both have more power than any DB9 model.</p><img src="~/Assets/Aston-Martin-9.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
                <li><h2>DB5</h2><p>The DB5 is the most famous Aston Martin in history. In fact, it may just be the coolest car in history. Think Aston Martin and you don't think the Vantage, the DB9, the DBR-1, or even the Vulcan. No. You think DB5. This car was the one that defined the 007 Bond movies, and it sure is the ultimate spy car.</p><img src="~/Assets/Aston-Martin-10.png" alt="Aston-Martin" style="width:350px; height:200px;"></li>
            </ol>
            <center>
                <table id="table5">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aston Martin</td>
                            <td>One-77</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>Vantage</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>V12 Vanquish</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>DBS V12</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>Vulcan</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>DBR-1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>DB7</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>V600 Le Mans</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>DB11</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aston Martin</td>
                            <td>DB5</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="Ferrari" style=>Ferrari Cars</h3>
        <p>
            The name Ferrari is synonymous with luxury sports cars. Whether on the racetrack or the road, Ferrari has
            been at the forefront of a sports car and supercar production since the 1950s. Ferrari has produced some of
            the most desirable and iconic sports cars in the history of motoring including the 250 GTO, F40, 288 GTO,
            the Dino, Daytona and Testarossa.Ferrari remains at the cutting edge of supercar design with models like the
            SF90 Stradale and the 488 Pista showcasing the blend of innovation, power and Italian style that first made
            Ferrari a household name.
            <ol type="1">
                <li>
                    <h2>Ferrari F12 Berlinetta</h2><p>
                        Underneath its sculpted hood was a naturally-aspirated 6.3-liter V12 which put out 720 hp, and with great power comes great top speed, 211 mph (340 kph) to be exact. So it was powerful and fast, but that wasn't its intended purpose.
                    </p><img src="~/Assets/ferrar-1.jpg" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari 365 GTB/Daytona</h2><p>
                        Its water-cooled front-mounted 4.4-liter V12 generated 353 hp and 319 lb-ft of torque which could propel the Daytona up to 174 mph which was 3 mph faster than their competition, the Lamborghini Miura P400.
                    </p><img src="~/Assets/ferrar-2.jpg" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari 599 GTO</h2><p>
                        The 599 GTO adopted the Enzo's naturally-aspirated 6.0-liter V12, but only now, it was retuned to produce 652 hp which was exactly one more horsepower superior to the Enzo.
                    </p><img src="~/Assets/ferrar-3.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari 430 Scuderia</h2><p>
                        To contribute to the 430's liveliness, the rather controversial automated manual F1 gearbox was added, this would also be the last Ferrari to make use of that transmission, and its naturally-aspirated 4.3-liter V8 exclaimed all 503 hp at a magnificent tone to bless the whole tri-state area's ears. The 430 did have one distinct feature that set it apart from all other cars, and this became a huge trend amongst other auto manufacturers today: It had steering-mounted shift lights to indicate when it was time to shift up a gear.
                    </p><img src="~/Assets/ferrar-4.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari 250 GTO</h2><p>
                        Its reverse gear was where most cars' first gear would have been, and 2nd and 3rd were across from each other instead of diagonally to decrease shift time between them. Oh, and who could forget its raspy 3.0-liter V12 engine with six Weber carburetors which produced 296 hp and 216 lb-ft of torque.
                    </p><img src="~/Assets/ferrar-5.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari 360 Challenge Stradale</h2><p>
                        Inside the 360 Challenge Stradale, it had exposed welding where your feet are supposed to go, of course, it came without any luxuries like an air conditioner or radio, but by far the most bizarre. Its steering wheel was naked - there were no buttons or knobs. But that's not where its racecar personality stopped, it sported a marvelous yell gifted by its 425 hp 3.6-liter V8, and its rigorous F1 gearbox and colossal carbon-ceramic brakes were identical to those found in the Ferrari Enzo.
                    </p><img src="~/Assets/ferrar-6.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Ferrari SF90 Stradale</h2><p>
                        When added, the power output of its twin-turbo 4.0-liter V8 and three electric motors will generate 986 hp and 590 lb-ft of torque - you don't have to know what these numbers mean to know they're a lot, almost surreal. According to Ferrari, the SF90 should complete a 0-60 run in 2.5 seconds, but as numerous other tests have revealed, the Stradale can go from 0 to 60 mph in 2 seconds dead, and also takes corners like a literal spaceship when fitted with the Assetto Fiorano package. Ferrari is getting gearheads all over the world excited about the future - they proved the future doesn't have to be boring.
                    </p><img src="~/Assets/ferrar-7.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>LaFerrari</h2><p>
                        This configuration consisted of a 6.3-liter V12 alongside an electric motor that produced a total net horsepower of 949 and 664 lb-ft of torque. Its electric counterpart made accelerations ever more brutal, and as a result, this Italian hybrid-supercar could go from 0 to 60 in as quick as 2.5 seconds, complete the standing quarter-mile in 9.8 seconds, and will reach up to 218 mph according to Ferrari themselves.
                    </p><img src="~/Assets/ferrar-8.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Enzo Ferrari</h2><p>
                        The Enzo's personality is entirely F1-inspired: From its F1 automated manual transmission to its screaming 651 hp naturally-aspirated 6.0-liter V12 engine behind the driver's seat, the Enzo is a beautiful and unforgiving Italian supercar.
                    </p><img src="~/Assets/ferrar-9.png" alt="Ferrari" style="width:350px; height:200px;">
                </li>
                <li><h2>Ferrari 458 Speciale</h2><p>The Speciale is Ferrari's last naturally-aspirated V8 sports car and is truly the best modern Maranello sports car to date. Its exterior is just perfection, and so is everything else on this car, from its carbon fiber blood to its glorious naturally-aspirated 605 hp V8-sized Italian heart.</p><img src="~/Assets/ferrar-10.png" alt="Ferrari" style="width:350px; height:200px;"></li>
            </ol>
            <center>
                <table id="table6">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari F12 Berlinetta</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 365 GTB/Daytona</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 599 GTO</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 430 Scuderia</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 250 GTO</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 360 Challenge Stradale</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari SF90 Stradale</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>LaFerrari</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Enzo Ferrari</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ferrari</td>
                            <td>Ferrari 458 Speciale</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="p">Porsche Cars</h3>
        <p>
            Dr. Ing. h.c. F. Porsche AG, usually shortened to Porsche is a German automobile manufacturer specializing
            in high-performance sports cars, SUVs and sedans, headquartered in Stuttgart, Baden-Württemberg, Germany.
            The company is owned by Volkswagen AG, a controlling stake of which is owned by Porsche Automobil Holding
            SE. Porsche's current lineup includes the 718 Boxster/Cayman, 911 (992), Panamera, Macan, Cayenne and
            Taycan.
            <ol type="1">
                <li>
                    <h2>Porsche Taycan GTS & GTS Sport Turismo</h2><p>
                        The electric four-door grand tourer from the German manufacturer now comes in a third body variant. It’s a classic high-performance station waggon that’s basically a Porsche Panamera Sport Turismo with a 580 horsepower electric motor and a 93.4-kilowatt-hour battery in place of a gasoline tank.
                    </p><img src="~/Assets/porsche-1.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche Macan</h2><p>
                        There are slight tweaks up front, the rear diffuser grows in size, and there are seven more options. Because the turbo drum has been removed, the engines have been reassigned to the lower crates. From the GTs, the Macan s gets a 2.9-liter twin-turbo v6 with 375 horsepower.
                    </p><img src="~/Assets/porsche-2.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche 718 Cayman GT4 RS</h2><p>
                        The single transmission option is a 7-speed PDk that has been tuned for lightning-fast gear changes, and torque is 332 pound-feet. The top speed is 196 miles per hour in seventh gear, and acceleration to 260 miles per hour takes 3.2 seconds. The automobile sits 1.2 inches closer to the ground and rides on unique-inch wheels with either iron or carbon-ceramic brakes.
                    </p><img src="~/Assets/porsche-3.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche Cayenne Turbo GT</h2><p>
                        In the 2022kn range, the Porsche cayenne turbo gt is the most powerful model. It still has fewer horsepower than the turbo sc hybrid, but unlike the plug-in, it doesn’t need to tote a large battery. According to Porsche, this UVs tuned 4 litre v8 features twin turbochargers and produces 640 horsepower and 627 pound feet of torque. This allows the car to hit 60 mph in 3.1 seconds and a top speed of 186 mph.
                    </p><img src="~/Assets/porsche-4.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche 911 GT3 & Porsche 911 GT3</h2><p>
                        Its presence, together with the large air intakes, two arrow fans on the bonnet, a little ducktail spoiler, and a diffuser, allows for a 150 percent increase in downforce at 124 mph over the ordinary McPherson strut. The gt3 has a double-wishbone front suspension, which was inspired by the 911 RSR race car. EPDK boosts the 4 litre normally aspirated 6-cylinder’s output to 503 horsepower and 346 pound-feet of torque.
                    </p><img src="~/Assets/porsche-5.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche Mission R</h2><p>
                        Porsche Mission R is a race-ready design that demonstrates Porsche’s dedication to electric vehicles once again. The Porsche Mission R is a concept design for a sports car that will race alongside the Porsche squad and be available for customer racing by 2025. Although the newcomer is similar in size to the 718, it features an integrated carbon fibre composite cage, CFRP bodywork, and an active aerodynamic system.
                    </p><img src="~/Assets/porsche-6.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche Panamera Platinum Edition</h2><p>
                        It includes minor visual enhancements as well as additional comfort features. Customers can select between 13 standard paint colours and four special paint colours, all of which include a satin platinum finish, Porsche lettering on the side air outlet grills, and unique 21-inch wheels.Updated distinctive matrix LEDs illuminate the scar, and the tail lamps have been modified as well. The interior of the sedan boasts unique embroidery, black brushed aluminium headrest trim, and standard 14-way memory seats.
                    </p><img src="~/Assets/porsche-7.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche 718 Cayman GT4 RS Clubsport</h2><p>
                        The club sport version of the 718 is a race-only model with all of the safety features necessary by competition. Right out of the factory, the car comes with a welded and roll cage, a single Recaro seat with six-point harnesses, safety nets, and a fire extinguisher. The headlights can be homogenised from the outside, two exhaust systems may be chosen, and the bonnet can have an easy-open feature for simple refuelling.The improved suspension features three spring rates for the axles, as well as larger 15-inch steel brake discs on the front wheels. The 4 litre 6 cylinder engine is the same as in the road-ready gt4 rs, but it produces 343 pound-feet of torque, which is 9 more torque points.
                    </p><img src="~/Assets/porsche-8.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche 911 Carrera GTs and 4 GTS</h2><p>
                        This driver-focused sports car is powered by a 3-liter flat-six engine with 20 turbos. It has a 7-speed manual transmission or an 8-speed dual-clutch PDK transmission that delivers 480 horsepower and 420 pound-feet of torque.
                    </p><img src="~/Assets/porsche-9.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Porsche Boxster 25 Years</h2><p>
                        The first Boxster was a terrific head-turner among Porsche fans and Porsche’s greatest seller 25 years ago in 1987, thanks to its outstanding naturally aspirated engine, finely balanced chassis, and superior handling. After 25 years, Porsche decided to honour the original with a limited-edition commemorative vehicle based on the current 718 Boxster GTs 4.0. On the outside, the addition has a naturally aspirated litre flat six engine that produces 394 horsepower and 309 pound-feet of torque.
                    </p><img src="~/Assets/porsche-10.webp" alt="Porsche" style="width:350px; height:200px;">
                </li>
            </ol>
            <center>
                <table id="table7">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Taycan GTS & GTS Sport Turismo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Macan</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche 718 Cayman GT4 RS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Cayenne Turbo GT</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche 911 GT3 & Porsche 911 GT3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Mission R</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Panamera Platinum Edition </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche 718 Cayman GT4 RS Clubsport</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche 911 Carrera GTs and 4 GTS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Porsche</td>
                            <td>Porsche Boxster 25 Years</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="w">
            Volkswagen Cars and SUVs
        </h3>
        <p>
            In Volkswagen we have always believed in democratizing mobility. With Volkswagen Power Leasing Service,
            powered by ORIX, you can experience the best of German engineering, the hassle-free way with low rental
            charges and zero down payment.
            <ol type="1">
                <li>
                    <h2>Volkswagen Golf R</h2><p>
                        The Volkswagen Golf R is the top European-sourced hot hatch, offering 315 horsepower and all-wheel-drive traction in a tidy chassis with great grip and top-notch handling. The Volkswagen Golf R is a 5-seater vehicle that comes in 1 trim levels. The most popular style is the DSG, which starts at $45,985 and comes with a 2.0L I4 Turbo engine and All Wheel Drive. This Golf R is estimated to deliver 23 MPG in the city and 30 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-1.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Golf GTI</h2><p>
                        The Volkswagen Golf GTI is a 5-seater vehicle that comes in 3 trim levels. The most popular style is the 2.0T SE DSG, which starts at $36,875 and comes with a 2.0L I4 Turbo engine and Front Wheel Drive. This Golf GTI is estimated to deliver 24 MPG in the city and 34 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-2.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Passat</h2><p>
                        The Volkswagen Passat is a 5-seater vehicle that comes in 3 trim levels. The most popular style is the 2.0T Limited Edition, which starts at $31,570 and comes with a 2.0L I4 Turbo engine and Front Wheel Drive. This Passat is estimated to deliver 24 MPG in the city and 36 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-3.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Taos</h2><p>
                        The Volkswagen Taos is a 5-seater vehicle that comes in 3 trim levels. The most popular style is the SE FWD, which starts at $30,220 and comes with a 1.5L I4 Turbo engine and Front Wheel Drive. This Taos is estimated to deliver 28 MPG in the city and 36 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-4.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Jetta</h2><p>
                        The Volkswagen Jetta is a 5-seater vehicle that comes in 5 trim levels. The most popular style is the SE Automatic, which starts at $25,240 and comes with a 1.5L I4 Turbo engine and Front Wheel Drive. This Jetta is estimated to deliver 29 MPG in the city and 40 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-5.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Atlas Cross Sport</h2><p>
                        The Volkswagen Atlas Cross Sport is a 5-seater vehicle that comes in 5 trim levels. The most popular style is the 3.6L V6 SE with Technology 4MOTION, which starts at $43,025 and comes with a 3.6L V6 engine and All Wheel Drive. This Atlas Cross Sport is estimated to deliver 18 MPG in the city and 24 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-6.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Arteon</h2><p>
                        The Volkswagen Arteon is a 5-seater vehicle that comes in 3 trim levels. The most popular style is the SEL R-Line 4MOTION, which starts at $47,995 and comes with a 2.0L I4 Turbo engine and All Wheel Drive. This Arteon is estimated to deliver 22 MPG in the city and 31 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-7.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Atlas</h2><p>
                        The Volkswagen Atlas is a 7-seater vehicle that comes in 5 trim levels. The most popular style is the 3.6L V6 SE with Technology 4MOTION, which starts at $43,715 and comes with a 3.6L V6 engine and All Wheel Drive. This Atlas is estimated to deliver 18 MPG in the city and 23 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-8.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen Tiguan</h2><p>
                        The Volkswagen Tiguan is a 7-seater vehicle that comes in 4 trim levels. The most popular style is the SE 4MOTION, which starts at $33,015 and comes with a 2.0L I4 Turbo engine and All Wheel Drive. This Tiguan is estimated to deliver 22 MPG in the city and 29 MPG on the highway.
                    </p><img src="~/Assets/volkswagen-9.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>Volkswagen ID.4 </h2><p>
                        The Volkswagen ID.4 is a 5-seater vehicle that comes in 2 trim levels. The most popular style is the Pro S AWD, which starts at $50,705 and comes with an Electric engine and All Wheel Drive. This ID.4 is estimated to deliver 100 MPGe in the city and 90 MPGe on the highway.
                    </p><img src="~/Assets/volkswagen-10.png" alt="Volkswagen" style="width:350px; height:200px;">
                </li>
            </ol>
            <center>
                <table id="table8">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Golf R</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Golf GTI</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Passat</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Taos</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Jetta</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Atlas Cross Sport</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Arteon</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Atlas</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen Tiguan</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Volkswagen</td>
                            <td>Volkswagen ID.4 </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
        <h3 id="s">Supra Cars</h3>
        <p>
            Supra model cars are made of environmentally friendly materials. In AliExpress, you can also find other good
            deals on item that you desired! Keep an eye out for promotions and deals, so you get a big saving of supra
            model cars. With low prices, we don't fault you for shopping supra model cars all the time. With the
            numerous promotions, we're here to help you get the most savings! You are getting more and saving more On
            A-One Motors with a wide range to choose from, you can find the good item that you desired to suit your
            budget.
            <ol type="1">
                <li>
                    <h2>1985 Toyota Celica Supra </h2><p>
                        This classic 1985 Celica Supra was built for both needs, performance, and luxury. The performance priority was met with adjustable seats, and the luxury type offered a digitized dash. There weren't many changes in design, but horsepower was increased to 161, and in 1985 that was a significant change.
                    </p><img src="~/Assets/supra-1.jpeg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1987 Toyota Supra </h2><p>
                        The 1987 Toyota Supra started with the third generation of Supra cars. The third generation came with a power boost of 200 horsepower. Among its drivers, this old beauty was famous for its engine. This car was a perfect balance between speed and safety. This sleek sports car came with a gorgeous interior and decent gas mileage, making it a beloved between drivers and collectors.
                    </p><img src="~/Assets/supra-2.jpg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1988 Toyota Supra</h2><p>
                        The eye-catching colour and 200-horsepower engine made it difficult for critics to list complaints. Other than that, the classic 1988 Supra came with customization options. The complete customization option made it even more potent than the competitor models. To this date, this car holds an extraordinary place in the hearts of its appreciators.
                    </p><img src="~/Assets/supra-3.jpg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1989 Toyota Supra </h2><p>
                        This 1988 Toyota Supra went under many changes that made it stand out more. While the engine power was still maintained at 200 horsepower, the design changes included redesigned headlights, bumper, and side trims.
                    </p><img src="~/Assets/supra-4.jpeg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1983 Toyota Supra A60</h2><p>
                        The 1983 Toyota Supra was awarded as the Import car of the year. This model also made it to the top ten list of best vehicles in the Car the Driver magazine edition of 1983. The changes in this 83 edition included an increase of 150 horsepower and 159 It-ft of torque. This model also switched from an advanced vacuum predecessor to an electronic advance distributor.
                    </p><img src="~/Assets/supra-5.jpeg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1997 Toyota Supra Turbo</h2><p>
                        The 1997 Toyota Supra Turbo came out as a fifteenth-anniversary limited edition model. This trendy Supra car had a 320-horsepower engine. This car was often regarded as a part house on wheels due to its premium stereo system, sleek design, and limited badges on the exterior. This model is also known to raise the bar between its competitors.
                    </p><img src="~/Assets/supra-6.jpg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>2022 Toyota Supra GR Supra</h2><p>
                        After the age of Supra cars, the newest 2022 Supra edition takes first place. Created in collaboration with luxury car brand BMW, this model comes with an impressive 335 horsepower engine and LCD panels. Along with that, there is a 50:50 weight balance and 8-speed automatic transmission.
                    </p><img src="~/Assets/supra-7.jpg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1982 Toyota Celica Supra</h2><p>
                        With a 145 horsepower engine, this old beauty was famous among its owners for reliability and power. The 82 edition Celica Supra started a new generation of Supra cars with pop-up headlights and the model's sunshade trademark at the leading edge of the hatchback. It's believed that the interior of 82 Supra was trendy among thieves as well, as the seats were highly-priced for any Japanese car. A feeling of weightlessness also accompanied both driver and passenger. The weight was about the same as a Mustang, giving Supra a quietness, solidity, and refinement.
                    </p><img src="~/Assets/supra-8.jpeg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1988 Toyota Supra Turbo A</h2><p>
                        This model was designed specifically for the touring car championship. Besides the fact that all 500 babies were only in the Japanese market, these also came up with 267 horsepower, impressive acceleration, and reaction time.
                    </p><img src="~/Assets/supra-9.jpg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
                <li>
                    <h2>1993 Toyota Supra Turbo</h2><p>
                        Featuring an improved engine of 320 horsepower and a six-speed transmission configuration, the company decided to ditch the old classic style for this number. Not only that, but this beauty was also a part of the Fast and Furious franchise.
                    </p><img src="~/Assets/supra-10.jpeg" alt="Toyota Supraa" style="width:350px; height:200px;">
                </li>
            </ol>
            <center>
                <table id="table9">
                    <colgroup>
                        <col style="width:100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1985 Toyota Celica Supra </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1987 Toyota Supra </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1988 Toyota Supra</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1989 Toyota Supra </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1983 Toyota Supra A60</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1997 Toyota Supra Turbo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>2022 Toyota Supra GR Supra</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1982 Toyota Celica Supra</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1988 Toyota Supra Turbo A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toyota Supra</td>
                            <td>1993 Toyota Supra Turbo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </p>
    </div>

</body>

</html>